.about {}

.about__text {}

.about__title_blure {}

.about__title {
    filter: blur(none);
}

.about__discription {
    color: var(--color-gray);
}

.button-label {}

.button__text {
    color: var(--color-blue);
}