/* body {
            background-image: url(BG.webp);
            background-size: auto;
            background-position: top center;
            background-repeat: repeat-y;
        } */

 :root {
    --color-blue: #0553BA;
    --color-orange: #F06817;
    --color-black: #223F4C;
    --color-gray: #ABB3B3;
    --color-green: #97A328;
    --color-azure: #41BDAC;
    --color-white: #FAFBFB;
}

.title {
    font-family: 'Courier New', Courier, monospace;
}

.subtitle {
    color: var(--color-azure);
}

.discription {
    color: var(--color-gray);
}

.button {
    border-radius: 500px;
    border: none;
    background-color: var(--color-blue);
    color: var(--color-white);
}

.button_primary {
    background-color: var(--color-blue);
    color: var(--color-white)
}

.userpic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.button__more,
.button__media {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.button__more {
    background-color: blue;
}

.button__media {
    background-color: white;
}