.offer {}

.offer_img {}

.offer__text {}

.offer__subtitle {}

.offer__title {}

.offer__discription {}

.offer__price {
    color: var(--color-orange);
}

.offer__price {
    color: var(--color-orange);
}

.offer__rate {
    background-color: var(--color-orange);
}